<app-navbar></app-navbar>
<ng-template appPlaceholder></ng-template>
<section class="bg-white auth-layout flex-grow-1">
  <div class="container">
    <div class="d-flex col-12">
      <div class="col-12 col-md-6 d-flex justify-content-start my-auto">


        <form id="passwordResetForm" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" class="p-4 w-75">
          <div class="form-content m-4">
            <h2 class="text-start mb-3">
              <a class="" routerLink="/auth" ><i class="text-black fa fa-angle-left"></i></a>
              Forgot Password
            </h2>
            <label class="text-muted mb-3">We will send you a new password on your email id</label>
            <div class="mb-3 form-group">
              <label for="password_text_field">Email Address</label>             
              <input id="password_text_field" aria-label="enter email address" class="form-control"
                type="email" placeholder="john@mail.com" formControlName="email" required>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-block login-button" type="submit" [disabled]="passwordResetForm.invalid" >RESET
                PASSWORD</button>

            </div>
          </div>
        </form>


        
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/assets/auth.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>







